{% extends 'manga/base.html' %}

{% block Title %}
Загаловок страницы добавления тайтла
{% endblock %}

{% block Body %}
<form action="{% url 'title_add_page' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Добавить</button>
    <p>Форма:</p>
    <p>Имя рус - ввести название рус, желательно</p>
    <p>Имя анг - ввести название анг, обязатльно</p>
    <p>Имя ориг - ввести название ориг, желательно</p>
    <p>Описание - ввести текст, обязательно</p>
    <p>жанр - выбрать из списка, несколько вариантов, обязательно</p>
    <p>опубликовать - да/нет, нет по умолчанию</p>
    <p>постер - ссылка на несколько изображений</p>
    <p>файлы - ссылка на несколько изображений</p>
</form>
{% endblock %}
